

<form method="post" action="/check_next_question">
    <p>
        <h1> <%= @feedback_message %> </h1>
        <p>
            <input type="submit" name="next_question" value="Next Question"/>
        </p> 
    </p>
    
</form>
